.App__text-container {
  position: absolute;
  z-index: 2;
  top: -100%;
  background: var(--bg-color);
  -webkit-transition: top 0.7s linear;
  -o-transition: top 0.7s linear;
  transition: top 0.7s linear;
}